.me_hoverselectable:hover {
	/* box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important; */
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
	transition: 0.6s;
	border: 0.5px solid rgba(84, 121, 192, 0.582);
}

.new_registry_btn,
.save_registry_btn {
	height: 2rem;
	border-radius: 5rem;
	box-shadow: 0px 0px 25px #4e8bc5c7;
	transition: 0.3s;
}

.new_registry_btn:hover,
.save_registry_btn:hover {
	box-shadow: 0px 0px 5px #4e8bc5c7;
	opacity: 0.7;
	transition: 0.3s;
}

.me_map_img img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	margin: 0.3rem;
	border-radius: 0.5rem;
	transition: 0.5s;
}

.me_map_img {
	max-height: 18rem;
	/* width: 25rem; */
	min-width: 12rem;
	overflow: auto;
	margin-right: 0px;
	margin-left: 0px;
	margin: 0.5rem;
}

.me_map_img img:hover {
	height: 180%;
	width: 180%;
	transition: 0.5s;
}

.me_addregistry input {
	border-color: azure;
	width: 90%;
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}

.me_registry_action img {
	height: 2rem;
	border-radius: 5rem;
	box-shadow: 0px 0px 25px #4e8bc5c7;
	transition: 0.3s;
	margin-right: 0.2rem;
	margin-left: 0.2rem;
}

.me_registry_action img:hover {
	box-shadow: 0px 0px 5px #4e8bc5c7;
	opacity: 0.7;
	transition: 0.3s;
}
