{% extends 'layout.html' %} {% block content %}
<section>
	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-header">
					<div class="d-flex align-items-center">
						<div class="card-title">Dermanhana</div>
						<button
							class="btn btn-primary btn-round ml-auto"
							data-toggle="modal"
							data-target="#addDrugsRowModal"
						>
							<i class="icofont-plus"></i>
							Derman goş
						</button>
					</div>
				</div>

				<div class="card-body">
					<div
						class="modal fade"
						id="addDrugsRowModal"
						tabindex="-1"
						role="dialog"
						aria-hidden="true"
					>
						<div class="modal-dialog" style="max-width: 1000px" role="document">
							<div class="modal-content">
								<div class="modal-header no-bd">
									<h5 class="modal-title">
										<span class="fw-mediumbold"> Täze</span>
										<span class="fw-light"> Setir</span>
									</h5>
									<button
										type="button"
										class="close"
										data-dismiss="modal"
										aria-label="Close"
									>
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<p class="small">Täze gözegçilik maglumaty goş</p>
									<form>
										<div class="row">
											<div class="col-sm-12">
												<div class="form-group form-group-default">
													<label>Ady</label>

													<input
														id="manage_drug_name"
														type="text"
														class="form-control"
														placeholder="Ady"
													/>

													<div class="validate"></div>
												</div>
											</div>
											<div class="col-md-6 pr-0">
												<div class="form-group form-group-default">
													<label>Düşündiriş</label>
													<input
														id="manage_drug_description"
														type="text"
														class="form-control"
														placeholder="Düşündiriş"
													/>
												</div>
												<div class="form-group form-group-default">
													<label>Bellik</label>
													<input
														id="manage_drug_note"
														type="text"
														class="form-control"
														placeholder="Bellik"
													/>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group form-group-default">
													<label>San</label>
													<input
														id="manage_drug_qty"
														type="text"
														class="form-control"
														placeholder="San"
													/>
												</div>
												<div class="form-group form-group-default">
													<label>Ölçegi</label>
													<input
														id="manage_drug_qname"
														type="text"
														class="form-control"
														placeholder="Ölçegi"
													/>
												</div>
											</div>
										</div>
									</form>
								</div>
								<div class="modal-footer no-bd">
									<button
										type="button"
										id="addDrugsRowButton"
										class="btn btn-primary"
									>
										Goş
									</button>
									<button
										type="button"
										class="btn btn-danger"
										data-dismiss="modal"
									>
										Ýap
									</button>
								</div>
							</div>
						</div>
					</div>

					{% if data %}
					<div class="table-responsive">
						<table id="add-row" class="display table table-striped table-hover">
							<thead>
								<tr>
									<th class="text-center">Ady</th>
									<th class="text-center">Düşündiriş</th>
									<th class="text-center">San</th>
									<th class="text-center">Bellik</th>
									<th class="text-center" style="width: 5%">Amal</th>
								</tr>
							</thead>
							<tbody class="table_data">
								{% for item in data %}
								<tr class="item_row" owner_id="review_{{item.hex}}">
									<td class="text-center">{{item.name}}</td>
									<td class="text-center">{{item.description}}</td>
									<td class="text-center">{{item.qty}} {{item.qname}}</td>
									<td class="text-center">{{item.note}}</td>
									<td class="text-center">
										<div class="form-button-action">
											<button
												type="button"
												data-toggle="tooltip"
												title=""
												class="btn btn-link btn-primary btn-lg edit_btn"
												owner_id="item_1"
											>
												<i class="icofont-edit"></i>
											</button>
											<button
												type="button"
												data-toggle="tooltip"
												title=""
												class="btn btn-link btn-danger remove_btn"
												owner_id="item_1"
											>
												<i class="icofont-bin"></i>
											</button>
										</div>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %} {% block scripts %}
<script>
	$(document).ready(function () {
		var action =
			'<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg edit_btn"  owner_id="> <i class="icofont-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger remove_btn" owner_id=> <i class="icofont-bin"></i> </button> </div> </td>';

		$("body").delegate("#addDrugsRowButton", "click", function (e) {
			console.log(e);
			const payload = {
				note: $("#manage_drug_note").val(),
				name: $("#manage_drug_name").val(),
				description: $("#manage_drug_description").val(),
				qty: $("#manage_drug_qty").val(),
				qname: $("#manage_drug_qname").val(),
			};
			console.log(payload);
			//fetch Func
		});
	});

	//	$(".table_data").prepend(
	//		construct_table_row({
	//			name: $("#addName").val(),
	//			position: $("#addPosition").val(),
	//			office: $("#addOffice").val(),
	//		})
	//	);
	//	$("#addDrugsRowModal").modal("hide");

	$("body").delegate(".remove_btn", "click", function (e) {
		$(`.item_row[owner_id="${$(this).attr("owner_id")}"]`).remove();
	});

	const construct_table_row = (data) => `<tr class="item_row" owner_id="item_1">
		<td class="text-center">${data.name}</td>
		<td class="text-center">${data.position}</td>
		<td class="text-center">${data.office}</td>
		<td class="text-center">
			<div class="form-button-action">
				<button
					type="button"
					data-toggle="tooltip"
					title=""
					class="btn btn-link btn-primary btn-lg edit_btn"
					owner_id="item_1"
				>
					<i class="icofont-edit"></i>
				</button>
				<button
					type="button"
					data-toggle="tooltip"
					title=""
					class="btn btn-link btn-danger remove_btn"
					owner_id="item_1"
				>
					<i class="icofont-bin"></i>
				</button>
			</div>
		</td>
	</tr>`;
</script>
{% endblock %}
