{% extends 'layout.html' %} {% block content %}
<section>
	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-header">
					<div class="d-flex align-items-center">
						<div class="card-title">{{hospital_data.name}}</div>
						<button
							class="btn btn-primary btn-round ml-auto newDataModalBtn"
							data-toggle="modal"
							data-target="#addHospital_recordRowModal"
						>
							<i class="icofont-plus"></i>
							Hassa goş
						</button>
					</div>
				</div>

				<div class="card-body">
					<div
						class="modal fade"
						id="addHospital_recordRowModal"
						tabindex="-1"
						role="dialog"
						aria-hidden="true"
					>
						<div class="modal-dialog" style="max-width: 1000px" role="document">
							<div class="modal-content">
								<div class="modal-header no-bd">
									<h5 class="modal-title">
										<span class="fw-mediumbold"> Täze</span>
										<span class="fw-light"> Setir</span>
									</h5>
									<button
										type="button"
										class="close"
										data-dismiss="modal"
										aria-label="Close"
									>
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<form>
									<div class="modal-body">
										<p class="small">Täze gözegçilik maglumaty goş</p>
										<div class="row">
											<div class="col-sm-12">
												<div class="form-group form-group-default">
													<label>Ady</label>

													<input
														id="manage_hospital_record_name"
														type="text"
														class="form-control"
														placeholder="Ady"
														required
													/>
													<input
														id="manage_hospital_record_hex"
														type="hidden"
														/>

													<div class="validate"></div>
												</div>
											</div>
											<div class="col-md-6 pr-0">
												<div class="form-group form-group-default">
													<label>Bellik</label>
													<input
														id="manage_hospital_record_note"
														type="text"
														class="form-control"
														placeholder="Bellik"
													/>
												</div>
											</div>
											<div class="col-md-6 d-flex">
												<div class="form-group form-group-default">
													<label>San</label>
													<input
														id="manage_hospital_record_qty"
														type="text"
														class="form-control"
														placeholder="San"
														required
													/>
												</div>
												<div class="form-group form-group-default">
													<label>Ölçeg birligi</label>
													<input
														id="manage_hospital_record_unit"
														type="text"
														class="form-control"
														placeholder="Ölçeg birligi"
														required
													/>
												</div>
												<div class="form-group">
													<label>Doglan senesi</label>
													<input
														type="datetime"
														name="birth_date"
														class="form-control form-control-sm datepicker"
														id="person_birth_date"
														placeholder="Doglan senesi"
														data-rule="minlen:4"
														data-msg="Please enter at least 4 chars"
														value="{{ data.birth_date if data else '' }}"
													/>
													<div class="validate"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="modal-footer no-bd">
										<button
											type="button"
											id="addHospital_recordRowButton"
											class="btn btn-primary"
										>
											Goş
										</button>
										<button
											type="button"
											class="btn btn-danger"
											data-dismiss="modal"
										>
											Ýap
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>

					{% if data %}
					<div class="table-responsive">
						<table id="add-row" class="display table table-striped table-hover">
							<thead>
								<tr>
									<th class="text-center">Ady</th>
									<th class="text-center">Cini</th>
									<th class="text-center">Giren sene</th>
									<th class="text-center">Çykan sene</th>
									<th class="text-center">Çykdy</th>
									<th class="text-center">Sebäp</th>
									<th class="text-center">Bellik</th>
									<th class="text-center" style="width: 5%">Amal</th>
								</tr>
							</thead>
							<tbody class="table_data hospital_record_table_rows">
								{% for item in data %}
								<tr class="item_row" owner_id="hospital_record_{{item.hex}}">
									<td class="text-center name">Plan</td>
									<input type="hidden" class="hex" value="{{item.hex}}" />
									<input type="hidden" class="hospital_id" value="{{item.hospital_id}}" />
									<td class="text-center m_level">matros</td>
									<td class="text-center enter_date">
										13.03.2023
									</td>
									<td class="text-center exit_date">
										13.03.2023
									</td>

									<td class="text-center completed">checkbox</td>
									<td class="text-center reason">reason</td>
									<td class="text-center completed">checkbox</td>
									<td class="text-center">
										<div class="form-button-action">
											<button
												type="button"
												data-toggle="tooltip"
												title=""
												class="btn btn-link btn-primary btn-lg edit_btn"
												owner_id="hospital_record_{{item.hex}}"
											>
												<i class="icofont-edit"></i>
											</button>
											<button
												type="button"
												data-toggle="tooltip"
												title=""
												class="btn btn-link btn-danger remove_btn"
												owner_id="hospital_record_{{item.hex}}"
											>
												<i class="icofont-bin"></i>
											</button>
										</div>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='me_assets/hospital_records_table.js') }}"></script>
{% endblock %}
