<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta content="width=device-width, initial-scale=1.0" name="viewport" />

		<title>.SAGMEN</title>
		<meta content="" name="descriptison" />
		<meta content="" name="keywords" />

		<!-- Favicons -->
		<link href="../static/assets/img/favicon.png" rel="icon" />
		<link
			href="../static/assets/img/apple-touch-icon.png"
			rel="apple-touch-icon"
		/>

		<!-- Google Fonts -->
		<!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet"> -->

		<!-- Vendor CSS Files -->
		<link
			href="../static/assets/vendor/bootstrap/css/bootstrap.min.css"
			rel="stylesheet"
		/>
		<link
			href="../static/assets/vendor/icofont/icofont.min.css"
			rel="stylesheet"
		/>
		<link
			href="../static/assets/vendor/boxicons/css/boxicons.min.css"
			rel="stylesheet"
		/>
		<link href="../static/assets/vendor/venobox/venobox.css" rel="stylesheet" />
		<link
			href="../static/assets/vendor/animate.css/animate.min.css"
			rel="stylesheet"
		/>
		<link
			href="../static/assets/vendor/remixicon/remixicon.css"
			rel="stylesheet"
		/>
		<link
			href="../static/assets/vendor/owl.carousel/assets/owl.carousel.min.css"
			rel="stylesheet"
		/>
		<link
			href="../static/assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker.min.css"
			rel="stylesheet"
		/>

		<!-- Template Main CSS File -->
		<link href="../static/assets/css/style.css" rel="stylesheet" />
	</head>

	<body>
		<!-- ======= Top Bar ======= -->
		<div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
			<div class="container d-flex">
				<div class="contact-info mr-auto">
					<i class="icofont-envelope"></i>
					<a href="mailto:extramikeme@gmail.com">extramikeme@gmail.com</a>
					<i class="icofont-phone"></i> +1 5589 55488 55
					<i class="icofont-google-map"></i> Türkmenbaşy, Jaňga.
				</div>
				<!-- <div class="social-links">
        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="#" class="skype"><i class="icofont-skype"></i></a>
        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
      </div> -->
			</div>
		</div>

		<!-- ======= Header ======= -->
		<header id="header" class="fixed-top">
			<div class="container d-flex align-items-center">
				<h1 class="logo mr-auto"><a href="main.html">.SAGMEN</a></h1>
				<!-- Uncomment below if you prefer to use an image logo -->
				<!-- <a href="main.html" class="logo mr-auto"><img src="../static/assets/img/logo.png" alt="" class="img-fluid"></a>-->

				<nav class="nav-menu d-none d-lg-block">
					<ul>
						<li class="active"><a href="main.html">Esasy</a></li>
						<!-- <li><a href="#about">Biz barada</a></li> -->
						<!-- <li><a href="#services">Hyzmatlar</a></li> -->
						<li><a href="#departments">Ugurlar</a></li>
						<li><a href="#gallery">Suratlar</a></li>
						<!-- <li><a href="#doctors">Lukmanlar</a></li> -->
						<!-- <li><a href="#contact">Kontakt</a></li> -->
					</ul>
				</nav>
				<!-- .nav-menu -->

				<a href="#appointment" class="appointment-btn scrollto"
					>Barlaga ýazyl</a
				>
			</div>
		</header>
		<!-- End Header -->

		<!-- ======= Hero Section ======= -->
		<section id="hero" class="d-flex align-items-center">
			<div class="container">
				<h1>.SAGMEN ulgamy</h1>
				<h2>Saglyk resminamalary dolanşyk nokady</h2>
				<a href="#about" class="btn-get-started scrollto">Girişmek</a>
			</div>
		</section>
		<!-- End Hero -->

		<main id="main">
			<!-- ======= Why Us Section ======= -->
			<section id="why-us" class="why-us">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 d-flex align-items-stretch">
							<div class="content">
								<h3>.SAGMEN näme üçin gerek?</h3>
								<p>
									Ulgam saglyk kitaplaryňyzy, umumy beden ýagdaý maglumatlary,
									saglyk üýtgeşmeleri, bolnoýlaryň üstünde geçirmeli işleri
									ýazmaga we jemlemäge kömek edýär.
								</p>
								<!-- <div class="text-center">
                <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div> -->
							</div>
						</div>
						<div class="col-lg-8 d-flex align-items-stretch">
							<div class="icon-boxes d-flex flex-column justify-content-center">
								<div class="row">
									<div class="col-xl-4 d-flex align-items-stretch">
										<div class="icon-box mt-4 mt-xl-0">
											<i class="bx bx-receipt"></i>
											<h4>Resminamalary ýöretmek</h4>
											<p>
												Saglyk we beden ýagdaýlary ýygnap gorag üstünde saklaň
											</p>
										</div>
									</div>
									<div class="col-xl-4 d-flex align-items-stretch">
										<div class="icon-box mt-4 mt-xl-0">
											<i class="bx bx-cube-alt"></i>
											<h4>Näsaglaryň düzelmegi</h4>
											<p>
												Saglyk ýagdaýlary yzarlamak, täze saglygy bejeriş
												buýruklary çykarmak
											</p>
										</div>
									</div>
									<div class="col-xl-4 d-flex align-items-stretch">
										<div class="icon-box mt-4 mt-xl-0">
											<i class="bx bx-plus"></i>
											<h4>Informasiýa</h4>
											<p>
												Dermanlary we serişdeleri öwrenmek, ilkinji kömek,
												maslahatlar.
											</p>
										</div>
									</div>
								</div>
							</div>
							<!-- End .content-->
						</div>
					</div>
				</div>
			</section>
			<!-- End Why Us Section -->

			<!-- ======= people_table Section ======= -->
			<section id="people_table" class="people_table section-bg">
				<div class="container">
					<div class="section-title">
						<h2>Näsaglaryň tablisasy</h2>
					</div>

					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>T/b</th>
									<th>Harby Çini</th>
									<th>Ady</th>
									<th>Username</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>L-nt</td>
									<td>Plan Planyýew</td>
									<td>@mdo</td>
								</tr>
								<tr>
									<td>2</td>
									<td>Kapitan</td>
									<td>Plan Planyýew</td>
									<td>@fat</td>
								</tr>
								<tr>
									<td>3</td>
									<td>II b s-na</td>
									<td>Plan Planyýew</td>
									<td>@twitter</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</section>
			<!-- End Appointment Section -->

			<!-- ======= health_table Section ======= -->
			<section id="health_table" class="health_table section-bg">
				<div class="container">
					<div class="section-title">
						<h2>Saglyk tablisasy</h2>
					</div>

					<div class="col-lg-6">
						<div class="member d-flex align-items-start">
							<div class="pic">
								<img
									src="../static/assets/img/doctors/doctors-1.jpg"
									class="img-fluid"
									alt=""
								/>
							</div>
							<div class="member-info">
								<h4>Plan Planyýew</h4>
								<span>Kapitan</span>
								<p>
									Explicabo voluptatem mollitia et repellat qui dolorum quasi
								</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3">
							<ul class="nav nav-tabs flex-column">
								<li class="nav-item">
									<a
										class="nav-link active show"
										data-toggle="tab"
										href="#tab-1"
										>Cardiology</a
									>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-toggle="tab" href="#tab-2"
										>Neurology</a
									>
								</li>
							</ul>
						</div>
						<div class="col-lg-9 mt-4 mt-lg-0">
							<div class="tab-content">
								<div class="tab-pane active show" id="tab-1">
									<div class="row">
										<div class="col-lg-8 details order-2 order-lg-1">
											<h3>Cardiology</h3>
											<p class="font-italic">
												Qui laudantium consequatur laborum sit qui ad sapiente
												dila parde sonata raqer a videna mareta paulona marka
											</p>
											<p>
												Et nobis maiores eius. Voluptatibus ut enim blanditiis
												atque harum sint. Laborum eos ipsum ipsa odit magni.
												Incidunt hic ut molestiae aut qui. Est repellat minima
												eveniet eius et quis magni nihil. Consequatur dolorem
												quaerat quos qui similique accusamus nostrum rem vero
											</p>
										</div>
										<div class="col-lg-4 text-center order-1 order-lg-2">
											<img
												src="../static/assets/img/departments-1.jpg"
												alt=""
												class="img-fluid"
											/>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="tab-2">
									<div class="row">
										<div class="col-lg-8 details order-2 order-lg-1">
											<h3>Et blanditiis nemo veritatis excepturi</h3>
											<p class="font-italic">
												Qui laudantium consequatur laborum sit qui ad sapiente
												dila parde sonata raqer a videna mareta paulona marka
											</p>
											<p>
												Ea ipsum voluptatem consequatur quis est. Illum error
												ullam omnis quia et reiciendis sunt sunt est. Non
												aliquid repellendus itaque accusamus eius et velit ipsa
												voluptates. Optio nesciunt eaque beatae accusamus lerode
												pakto madirna desera vafle de nideran pal
											</p>
										</div>
										<div class="col-lg-4 text-center order-1 order-lg-2">
											<img
												src="../static/assets/img/departments-2.jpg"
												alt=""
												class="img-fluid"
											/>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End Appointment Section -->

			<!-- ======= Appointment Section ======= -->
			<section id="appointment" class="appointment section-bg">
				<div class="container">
					<div class="section-title">
						<h2>Barlaga ýazylmak</h2>
						<p>
							Siz özüňizi ýarawsyz duýýan bolsaňyz, ýa-da wagtal-wagtal
							barlagdan geçmekçi bolsaňyz, aşakdaky maglumatlary giriziň
						</p>
					</div>

					<form action="" method="post" role="form" class="php-email-form">
						<div class="form-row">
							<div class="col-md-4 form-group">
								<input
									type="text"
									name="name"
									class="form-control"
									id="name"
									placeholder="Ady"
									data-rule="minlen:4"
									data-msg="Please enter at least 4 chars"
								/>
								<div class="validate"></div>
							</div>
							<div class="col-md-4 form-group">
								<input
									type="email"
									class="form-control"
									name="email"
									id="email"
									placeholder="E-poçta"
									data-rule="email"
									data-msg="Please enter a valid email"
								/>
								<div class="validate"></div>
							</div>
							<div class="col-md-4 form-group">
								<input
									type="tel"
									class="form-control"
									name="phone"
									id="phone"
									placeholder="Telefon belgi"
									data-rule="minlen:4"
									data-msg="Please enter at least 4 chars"
								/>
								<div class="validate"></div>
							</div>
						</div>
						<div class="form-row">
							<div class="col-md-4 form-group">
								<input
									type="datetime"
									name="date"
									class="form-control datepicker"
									id="date"
									placeholder="Barlag senesi"
									data-rule="minlen:4"
									data-msg="Please enter at least 4 chars"
								/>
								<div class="validate"></div>
							</div>
							<div class="col-md-4 form-group">
								<select name="department" id="department" class="form-control">
									<option value="">Ugury saýlaň</option>
									<option value="Umumy bejeriş">Umumy bejeriş</option>
									<option value="Kardiologiýa">Kardiologiýa</option>
									<option value="Trawmatalogiýa">Trawmatalogiýa</option>
									<option value="Stomatologiýa">Stomatologiýa</option>
									<option value="Nerwologiýa">Nerwologiýa</option>
									<option value="Pediatriýa">Pediatriýa</option>
									<option value="Wenerologiýa">Wenerologiýa</option>
								</select>
								<div class="validate"></div>
							</div>
							<div class="col-md-4 form-group">
								<select name="doctor" id="doctor" class="form-control">
									<option value="">Lukmany saýla</option>
									<option value="Plan Planyýew">Plan Planyýew</option>
									<option value="Jemal Planyýewa">Jemal Planyýewa</option>
								</select>
								<div class="validate"></div>
							</div>
						</div>

						<div class="form-group">
							<textarea
								class="form-control"
								name="message"
								rows="5"
								placeholder="Bellik habary"
							></textarea>
							<div class="validate"></div>
						</div>
						<div class="mb-3">
							<div class="loading">Loading</div>
							<div class="error-message"></div>
							<div class="sent-message">
								Your appointment request has been sent successfully. Thank you!
							</div>
						</div>
						<div class="text-center">
							<button type="submit">Barlaga ýazylmak</button>
						</div>
					</form>
				</div>
			</section>
			<!-- End Appointment Section -->

			<!-- ======= Departments Section ======= -->
			<section id="departments" class="departments">
				<div class="container">
					<div class="section-title">
						<h2>Ugurlar</h2>
						<!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
					</div>

					<div class="row">
						<div class="col-lg-3">
							<ul class="nav nav-tabs flex-column">
								<li class="nav-item">
									<a
										class="nav-link active show"
										data-toggle="tab"
										href="#tab-1"
										>Kardiologiýa</a
									>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-toggle="tab" href="#tab-2"
										>Newrologiýa</a
									>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-toggle="tab" href="#tab-3"
										>Hepatologiýa</a
									>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-toggle="tab" href="#tab-4"
										>Pediatriýa</a
									>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-toggle="tab" href="#tab-5"
										>Göz bejeriş</a
									>
								</li>
							</ul>
						</div>
						<div class="col-lg-9 mt-4 mt-lg-0">
							<div class="tab-content">
								<div class="tab-pane active show" id="tab-1">
									<div class="row">
										<div class="col-lg-8 details order-2 order-lg-1">
											<h3>Kardiologiýa</h3>
											<p class="font-italic">
												Qui laudantium consequatur laborum sit qui ad sapiente
												dila parde sonata raqer a videna mareta paulona marka
											</p>
											<p>
												Et nobis maiores eius. Voluptatibus ut enim blanditiis
												atque harum sint. Laborum eos ipsum ipsa odit magni.
												Incidunt hic ut molestiae aut qui. Est repellat minima
												eveniet eius et quis magni nihil. Consequatur dolorem
												quaerat quos qui similique accusamus nostrum rem vero
											</p>
										</div>
										<div class="col-lg-4 text-center order-1 order-lg-2">
											<img
												src="../static/assets/img/departments-1.jpg"
												alt=""
												class="img-fluid"
											/>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="tab-2">
									<div class="row">
										<div class="col-lg-8 details order-2 order-lg-1">
											<h3>Et blanditiis nemo veritatis excepturi</h3>
											<p class="font-italic">
												Qui laudantium consequatur laborum sit qui ad sapiente
												dila parde sonata raqer a videna mareta paulona marka
											</p>
											<p>
												Ea ipsum voluptatem consequatur quis est. Illum error
												ullam omnis quia et reiciendis sunt sunt est. Non
												aliquid repellendus itaque accusamus eius et velit ipsa
												voluptates. Optio nesciunt eaque beatae accusamus lerode
												pakto madirna desera vafle de nideran pal
											</p>
										</div>
										<div class="col-lg-4 text-center order-1 order-lg-2">
											<img
												src="../static/assets/img/departments-2.jpg"
												alt=""
												class="img-fluid"
											/>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="tab-3">
									<div class="row">
										<div class="col-lg-8 details order-2 order-lg-1">
											<h3>Impedit facilis occaecati odio neque aperiam sit</h3>
											<p class="font-italic">
												Eos voluptatibus quo. Odio similique illum id quidem non
												enim fuga. Qui natus non sunt dicta dolor et. In
												asperiores velit quaerat perferendis aut
											</p>
											<p>
												Iure officiis odit rerum. Harum sequi eum illum corrupti
												culpa veritatis quisquam. Neque necessitatibus illo
												rerum eum ut. Commodi ipsam minima molestiae sed
												laboriosam a iste odio. Earum odit nesciunt fugiat sit
												ullam. Soluta et harum voluptatem optio quae
											</p>
										</div>
										<div class="col-lg-4 text-center order-1 order-lg-2">
											<img
												src="../static/assets/img/departments-3.jpg"
												alt=""
												class="img-fluid"
											/>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="tab-4">
									<div class="row">
										<div class="col-lg-8 details order-2 order-lg-1">
											<h3>
												Fuga dolores inventore laboriosam ut est accusamus
												laboriosam dolore
											</h3>
											<p class="font-italic">
												Totam aperiam accusamus. Repellat consequuntur iure
												voluptas iure porro quis delectus
											</p>
											<p>
												Eaque consequuntur consequuntur libero expedita in
												voluptas. Nostrum ipsam necessitatibus aliquam fugiat
												debitis quis velit. Eum ex maxime error in consequatur
												corporis atque. Eligendi asperiores sed qui veritatis
												aperiam quia a laborum inventore
											</p>
										</div>
										<div class="col-lg-4 text-center order-1 order-lg-2">
											<img
												src="../static/assets/img/departments-4.jpg"
												alt=""
												class="img-fluid"
											/>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="tab-5">
									<div class="row">
										<div class="col-lg-8 details order-2 order-lg-1">
											<h3>
												Est eveniet ipsam sindera pad rone matrelat sando reda
											</h3>
											<p class="font-italic">
												Omnis blanditiis saepe eos autem qui sunt debitis porro
												quia.
											</p>
											<p>
												Exercitationem nostrum omnis. Ut reiciendis repudiandae
												minus. Omnis recusandae ut non quam ut quod eius qui.
												Ipsum quia odit vero atque qui quibusdam amet. Occaecati
												sed est sint aut vitae molestiae voluptate vel
											</p>
										</div>
										<div class="col-lg-4 text-center order-1 order-lg-2">
											<img
												src="../static/assets/img/departments-5.jpg"
												alt=""
												class="img-fluid"
											/>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End Departments Section -->

			<!-- ======= Gallery Section ======= -->
			<section id="gallery" class="gallery">
				<div class="container">
					<div class="section-title">
						<h2>Suratlar</h2>
						<!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
					</div>
				</div>

				<div class="container-fluid">
					<div class="row no-gutters">
						<div class="col-lg-3 col-md-4">
							<div class="gallery-item">
								<a
									href="../static/assets/img/gallery/gallery-1.jpg"
									class="venobox"
									data-gall="gallery-item"
								>
									<img
										src="../static/assets/img/gallery/gallery-1.jpg"
										alt=""
										class="img-fluid"
									/>
								</a>
							</div>
						</div>

						<div class="col-lg-3 col-md-4">
							<div class="gallery-item">
								<a
									href="../static/assets/img/gallery/gallery-2.jpg"
									class="venobox"
									data-gall="gallery-item"
								>
									<img
										src="../static/assets/img/gallery/gallery-2.jpg"
										alt=""
										class="img-fluid"
									/>
								</a>
							</div>
						</div>

						<div class="col-lg-3 col-md-4">
							<div class="gallery-item">
								<a
									href="../static/assets/img/gallery/gallery-3.jpg"
									class="venobox"
									data-gall="gallery-item"
								>
									<img
										src="../static/assets/img/gallery/gallery-3.jpg"
										alt=""
										class="img-fluid"
									/>
								</a>
							</div>
						</div>

						<div class="col-lg-3 col-md-4">
							<div class="gallery-item">
								<a
									href="../static/assets/img/gallery/gallery-4.jpg"
									class="venobox"
									data-gall="gallery-item"
								>
									<img
										src="../static/assets/img/gallery/gallery-4.jpg"
										alt=""
										class="img-fluid"
									/>
								</a>
							</div>
						</div>

						<div class="col-lg-3 col-md-4">
							<div class="gallery-item">
								<a
									href="../static/assets/img/gallery/gallery-5.jpg"
									class="venobox"
									data-gall="gallery-item"
								>
									<img
										src="../static/assets/img/gallery/gallery-5.jpg"
										alt=""
										class="img-fluid"
									/>
								</a>
							</div>
						</div>

						<div class="col-lg-3 col-md-4">
							<div class="gallery-item">
								<a
									href="../static/assets/img/gallery/gallery-6.jpg"
									class="venobox"
									data-gall="gallery-item"
								>
									<img
										src="../static/assets/img/gallery/gallery-6.jpg"
										alt=""
										class="img-fluid"
									/>
								</a>
							</div>
						</div>

						<div class="col-lg-3 col-md-4">
							<div class="gallery-item">
								<a
									href="../static/assets/img/gallery/gallery-7.jpg"
									class="venobox"
									data-gall="gallery-item"
								>
									<img
										src="../static/assets/img/gallery/gallery-7.jpg"
										alt=""
										class="img-fluid"
									/>
								</a>
							</div>
						</div>

						<div class="col-lg-3 col-md-4">
							<div class="gallery-item">
								<a
									href="../static/assets/img/gallery/gallery-8.jpg"
									class="venobox"
									data-gall="gallery-item"
								>
									<img
										src="../static/assets/img/gallery/gallery-8.jpg"
										alt=""
										class="img-fluid"
									/>
								</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End Gallery Section -->
		</main>
		<!-- End #main -->

		<!-- ======= Footer ======= -->
		<footer id="footer">
			<div class="footer-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-6 footer-contact">
							<h3>.SAGMEN</h3>
							<p>
								Türkmenbaşy, Jaňga<br />
								Turkmenistan <br /><br />
								<strong>Telefon:</strong> +1 5589 55488 55<br />
								<strong>E-poçta:</strong> extramikeme@gmail.com<br />
							</p>
						</div>

						<div class="col-lg-2 col-md-6 footer-links">
							<h4>Useful Links</h4>
							<ul>
								<li>
									<i class="bx bx-chevron-right"></i> <a href="#">Home</a>
								</li>
								<li>
									<i class="bx bx-chevron-right"></i> <a href="#">About us</a>
								</li>
								<li>
									<i class="bx bx-chevron-right"></i> <a href="#">Services</a>
								</li>
								<li>
									<i class="bx bx-chevron-right"></i>
									<a href="#">Terms of service</a>
								</li>
								<li>
									<i class="bx bx-chevron-right"></i>
									<a href="#">Privacy policy</a>
								</li>
							</ul>
						</div>

						<div class="col-lg-3 col-md-6 footer-links">
							<h4>Our Services</h4>
							<ul>
								<li>
									<i class="bx bx-chevron-right"></i> <a href="#">Web Design</a>
								</li>
								<li>
									<i class="bx bx-chevron-right"></i>
									<a href="#">Web Development</a>
								</li>
								<li>
									<i class="bx bx-chevron-right"></i>
									<a href="#">Product Management</a>
								</li>
								<li>
									<i class="bx bx-chevron-right"></i> <a href="#">Marketing</a>
								</li>
								<li>
									<i class="bx bx-chevron-right"></i>
									<a href="#">Graphic Design</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="container d-md-flex py-4">
				<div class="mr-md-auto text-center text-md-left">
					<div class="copyright">
						Ulgam <strong><span>.SAGMEN</span></strong>
					</div>
				</div>
				<!-- <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div> -->
			</div>
		</footer>
		<!-- End Footer -->

		<div id="preloader"></div>
		<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

		<!-- Vendor JS Files -->
		<script src="../static/assets/vendor/jquery/jquery.min.js"></script>
		<script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="../static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
		<script src="../static/assets/vendor/php-email-form/validate.js"></script>
		<script src="../static/assets/vendor/venobox/venobox.min.js"></script>
		<script src="../static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
		<script src="../static/assets/vendor/counterup/counterup.min.js"></script>
		<script src="../static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
		<script src="../static/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

		<!-- Template Main JS File -->
		<script src="../static/assets/js/main.js"></script>
	</body>
</html>
