{% extends 'layout.html' %} {% block content %}
<section>
	<div class="row">
		<div class="col-md-3">
			{% if data %}
			<div class="card">
				<div class="card-body">
					<div class="user-profile row">
						<div class="col text-center">
							<div class="avatar avatar-sm">
								<span class="avatar-title rounded-circle border border-white"
									>{{data.name[0].upper()}}{{data.surname[0].upper()}}</span
								>
							</div>
							<div class="name">{{ data.name }} {{ data.surname }}</div>
							<div class="col">
								<div class="job d-flex">
									<img
										src="../static/medicons/chevron.svg"
										style="max-height: 1.5rem"
									/>
									<span>{{ data.m_level }}</span>
								</div>
								<div class="d-flex">
									<img
										src="../static/medicons/height.svg"
										style="max-height: 1.5rem"
									/>
									<span>{{ data.Physical.height }}</span>
								</div>
								<div class="d-flex">
									<img
										src="../static/medicons/weight.svg"
										style="max-height: 1.5rem"
									/>
									<span>{{ data.Physical.weight }}</span>
								</div>

								<div class="d-flex">
									<img
										src="../static/medicons/drop_of_blood.svg"
										style="max-height: 1.5rem"
									/>
									<span>{{ data.Medical.blood_category }}</span>
								</div>
								<div class="d-flex">
									<img
										src="../static/medicons/pulse.svg"
										style="max-height: 1.5rem"
									/>
									<span>{{ data.Medical.blood_pressure }}</span>
								</div>

								<div class="d-flex">
									<img
										src="../static/medicons/listen.svg"
										style="max-height: 1.5rem"
									/>
									<span>{{ data.Medical.hearing }}</span>
								</div>
								<div class="d-flex">
									<img
										src="../static/medicons/eye.svg"
										style="max-height: 1.5rem"
									/>
									<span>{{ data.Medical.vision }}</span>
								</div>
								<div class="d-flex">
									<img
										src="../static/medicons/glasses.svg"
										style="max-height: 1.5rem"
									/>
									<span
										>{{ 'Ýok' if not data.Medical.withGlass else 'Bar' }}
									</span>
								</div>
								<div class="d-flex">
									<img
										src="../static/medicons/pulse.svg"
										style="max-height: 1.5rem"
									/>
									<span>{{ data.Medical.pulse }}'</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% else %}
			<h1 style="text-align: center">Täze hasabat</h1>
			{% endif %}
		</div>
		<div class="col-md-9">
			<div class="card">
				<div class="card-header">
					<div class="card-title">Umumy</div>
				</div>

				<div class="card-body">
					<div class="row">
						<div class="col">
							<div class="form-group">
								<label>Ady</label>
								<input
									type="text"
									class="form-control form-control-sm"
									value="{{ data.name if data else '' }}"
									placeholder="Ady"
								/>
							</div>
							<div class="form-group">
								<label>Familiýasy</label>
								<input
									type="text"
									class="form-control form-control-sm"
									value="{{ data.surname if data else '' }}"
									placeholder="Familiýasy"
								/>
							</div>
							<div class="form-group">
								<label>Atasynyň ady</label>
								<input
									type="text"
									class="form-control form-control-sm"
									value="{{ data.patronomic if data else '' }}"
									placeholder="Atasynyň ady"
								/>
							</div>
							<div class="form-group">
								<label>Doglan senesi</label>
								<input
									type="text"
									class="form-control form-control-sm"
									value="{{ data.birth_date if data else '' }}"
									placeholder="Doglan senesi"
								/>
							</div>
							<div class="form-group">
								<label>Doglan ýeri</label>
								<input
									type="text"
									class="form-control form-control-sm"
									value="{{ data.birth_place if data else '' }}"
									placeholder="Doglan ýeri"
								/>
							</div>
							<div class="form-group">
								<label>Öý salgysy</label>
								<input
									type="text"
									class="form-control form-control-sm"
									value="{{ data.home_address if data else '' }}"
									placeholder="Öý salgysy"
								/>
							</div>
							<div class="form-group">
								<label>Haýsy EHW çagyrylan</label>
								<input
									type="text"
									class="form-control form-control-sm"
									value="{{ data.ehw_name if data else '' }}"
									placeholder="Haýsy EHW çagyrylan"
								/>
							</div>
						</div>
						<div class="col">
							<div class="form-group">
								<label>Bilimi</label>
								<input
									type="text"
									class="form-control form-control-sm"
									value="{{ data.knowledge_level if data else '' }}"
									placeholder="Bilimi"
								/>
							</div>
							<div class="form-group">
								<label>G-ga çenli hünäri</label>
								<input
									type="text"
									class="form-control form-control-sm"
									value="{{ data.last_job if data else '' }}"
									placeholder="G-ga çenli hünäri"
								/>
							</div>
							<div class="form-group">
								<label>Çagyrylan ýyly</label>
								<input
									type="text"
									class="form-control form-control-sm"
									value="{{ data.m_call_year if data else '' }}"
									placeholder="Çagyrylan ýyly"
								/>
							</div>
							<div class="form-group">
								<label>Sport meşgullygy</label>
								<input
									type="text"
									class="form-control form-control-sm"
									value="{{ data.sport_level if data else '' }}"
									placeholder="Sport meşgullygy"
								/>
							</div>
							<div class="form-group">
								<label>Harby çini</label>
								<input
									type="text"
									class="form-control form-control-sm"
									value="{{ data.m_level if data else '' }}"
									placeholder="Harby çini"
								/>
							</div>
							<div class="form-group">
								<label>Harby hünäri</label>
								<input
									type="text"
									class="form-control form-control-sm"
									value="{{ data.m_job if data else '' }}"
									placeholder="Harby hünäri"
								/>
							</div>

							<div class="form-group">
								<label>Harby bölüm</label>
								<input
									type="text"
									class="form-control form-control-sm"
									value="{{ data.m_place if data else '' }}"
									placeholder="Harby bölüm"
								/>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--//////////////////-->

			<div class="card">
				<div class="card-header">
					<div class="card-title">Fiziki ösüşiniň maglumaty</div>
				</div>

				<div class="card-body">
					<div class="row">
						<div class="col">
							<div class="row">
								<div class="form-group col-6">
									<label>Boýy, sm</label>
									<input
										type="text"
										class="form-control form-control-sm"
										value="{{ data.Physical.height if data else '' }}"
										placeholder="Boýy, sm"
									/>
								</div>
								<div class="form-group col-6">
									<label>Agramy, kg</label>
									<input
										type="text"
										class="form-control form-control-sm"
										value="{{ data.Physical.weight if data else '' }}"
										placeholder="Agramy, kg"
									/>
								</div>
							</div>

							<label>Külke giňişligi</label>
							<div class="row">
								<div class="form-group col-4">
									<label>Asuda</label>
									<input
										type="text"
										class="form-control form-control-sm"
										value="{{ data.Physical.lungs_default if data else '' }}"
										placeholder="Asuda"
									/>
								</div>
								<div class="form-group col-4">
									<label>Dem alanda</label>
									<input
										type="text"
										class="form-control form-control-sm"
										value="{{ data.Physical.lungs_inhaled if data else '' }}"
										placeholder="Dem alanda"
									/>
								</div>
								<div class="form-group col-4">
									<label>Dem göýberende</label>
									<input
										type="text"
										class="form-control form-control-sm"
										value="{{ data.Physical.lungs_exhaled if data else '' }}"
										placeholder="Dem göýberende"
									/>
								</div>
							</div>

							<div class="form-group">
								<label>Spirometriýa</label>
								<input
									type="text"
									class="form-control form-control-sm"
									value="{{ data.Physical.spirometry if data else '' }}"
									placeholder="Spirometriýa"
								/>
							</div>

							<label>Eliniň dinamometriýasy</label>
							<div class="row">
								<div class="form-group col-6">
									<label>Sag</label>
									<input
										type="text"
										class="form-control form-control-sm"
										value="{{ data.Physical.dinamometry_right if data else '' }}"
										placeholder="Sag"
									/>
								</div>

								<div class="form-group col-6">
									<label>Çep</label>
									<input
										type="text"
										class="form-control form-control-sm"
										value="{{ data.Physical.dinamometry_left if data else '' }}"
										placeholder="Çep"
									/>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="form-group">
								<label>Bellik</label>
								<textarea
									type="text"
									class="form-control form-control-sm"
									value="{{ data.Physical.note if data else '' }}"
									placeholder="Bellik"
									rows="10"
								></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="card">
				<div class="card-header">
					<div class="card-title">Ilkinji lukmançylyk gözegçiligi</div>
				</div>

				<div class="card-body">
					<div class="row">
						<div class="col">
							<div class="form-group">
								<label>Barlag senesi</label>
								<input
									type="text"
									class="form-control form-control-sm"
									value="{{ data.Medical.first_review_date if data else '' }}"
									placeholder="Barlag senesi"
								/>
							</div>
							<div class="form-group">
								<label>Allergiýa</label>

								<input
									type="text"
									class="form-control form-control-sm"
									value="{{ data.Medical.allergy if data else '' }}"
									placeholder="Allergiýa"
								/>

								<!--<div class="form-group">
									<label>Allergiýa barmy</label>
									<select class="form-control form-control-sm">
										<option value="1">Bar</option>
										<option value="0">Ýok</option>
									</select>
								</div>-->
							</div>
							<div class="form-group">
								<label>Beden gurluşy</label>
								<input
									type="text"
									class="form-control form-control-sm"
									value="{{ data.Medical.body_construction if data else '' }}"
									placeholder="Beden gurluşy"
								/>
							</div>
							<div class="form-group">
								<label>Beden örtügi</label>
								<input
									type="text"
									class="form-control form-control-sm"
									value="{{ data.Medical.body_state if data else '' }}"
									placeholder="Beden örtügi"
								/>
							</div>
							<div class="form-group">
								<label>Süňk, myşsa gurluşy</label>
								<input
									type="text"
									class="form-control form-control-sm"
									value="{{ data.Medical.bone_muscle if data else '' }}"
									placeholder="Süňk, myşsa gurluşy"
								/>
							</div>
							<div class="form-group">
								<label>Dem alyş organlary</label>
								<input
									type="text"
									class="form-control form-control-sm"
									value="{{ data.Medical.breathing if data else '' }}"
									placeholder="Dem alyş organlary"
								/>
							</div>
							<div class="form-group">
								<label>Gan aýlanyş</label>
								<input
									type="text"
									class="form-control form-control-sm"
									value="{{ data.Medical.blood_cycling if data else '' }}"
									placeholder="Gan aýlanyş"
								/>
							</div>
							<div class="form-group">
								<label>Puls</label>
								<input
									type="text"
									class="form-control form-control-sm"
									value="{{ data.Medical.name if data else '' }}"
									placeholder="Puls"
								/>
							</div>
							<div class="form-group">
								<label>Gan basyşy</label>
								<input
									type="text"
									class="form-control form-control-sm"
									value="{{ data.Medical.blood_pressure if data else '' }}"
									placeholder="Gan basyşy"
								/>
							</div>
							<div class="form-group">
								<label>Gan topary</label>
								<input
									type="text"
									class="form-control form-control-sm"
									value="{{ data.Medical.blood_category if data else '' }}"
									placeholder="Gan topary"
								/>
							</div>
						</div>
						<div class="col">
							<div class="form-group">
								<label>Iýmit siňdiriş organlary</label>
								<input
									type="text"
									class="form-control form-control-sm"
									value="{{ data.Medical.stomach if data else '' }}"
									placeholder="Iýmit siňdiriş organlary"
								/>
							</div>
							<div class="form-group">
								<label>Görüş</label>
								<input
									type="text"
									class="form-control form-control-sm"
									value="{{ data.Medical.vision if data else '' }}"
									placeholder="Görüş"
								/>
							</div>
							<div class="form-group">
								<label>Eşidiş</label>
								<input
									type="text"
									class="form-control form-control-sm"
									value="{{ data.Medical.hearing if data else '' }}"
									placeholder="Eşidiş"
								/>
							</div>
							<div class="form-group">
								<label>Nerw sistemasy</label>
								<input
									type="text"
									class="form-control form-control-sm"
									value="{{ data.Medical.nerve if data else '' }}"
									placeholder="Nerw sistemasy"
								/>
							</div>

							<div class="form-group">
								<label>Beýleki organ gurlyşy</label>
								<input
									type="text"
									class="form-control form-control-sm"
									value="{{ data.Medical.other if data else '' }}"
									placeholder="Beýleki organ gurlyşy"
								/>
							</div>

							<div class="form-group">
								<label>Lukman</label>
								<input
									type="text"
									class="form-control form-control-sm"
									value="{{ data.Medical.reviewed_medic if data else '' }}"
									placeholder="Lukman"
								/>
							</div>

							<div class="form-group">
								<label>Bellik</label>
								<textarea
									type="text"
									class="form-control form-control-sm"
									value="{{ data.Medical.note if data else '' }}"
									placeholder="Bellik"
									rows="10"
								></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="card">
				<div class="card-header">
					<div class="card-title">Nobatdaky gözegçiligiň maglumaty</div>
				</div>

				<div class="card-body">
					<div class="row">
						<div class="col">
							<div class="form-group">
								<label>Ady</label>
								<input
									type="text"
									class="form-control form-control-sm"
									value="{{ data.name if data else '' }}"
									placeholder="Ady"
								/>
							</div>
						</div>
						<div class="col">
							<div class="form-group">
								<label>Harby bölüm</label>
								<input
									type="text"
									class="form-control form-control-sm"
									value="{{ data.name if data else '' }}"
									placeholder="Harby bölüm"
								/>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--//////////////////////-->
			<!--<div class="card">
				<div class="card-header">
					<div class="card-title">Umumy</div>
				</div>

				<div class="card-body">
					<div class="row">
						<div class="col">
							<div class="form-group">
								<label>Ady</label>
								<input
									type="text"
									class="form-control form-control-sm"
									placeholder="Ady"
								/>
							</div>
						</div>
						<div class="col">
							<div class="form-group">
								<label>Harby bölüm</label>
								<input
									type="text"
									class="form-control form-control-sm"
									placeholder="Harby bölüm"
								/>
							</div>
						</div>
					</div>
				</div>
			</div>-->
		</div>
	</div>
</section>
{% endblock %}
