{% extends 'layout.html' %} {% block content %}
<section>
	<div class="row mt--2">
		<div class="col-md-6">
			<div class="card full-height">
				<div class="card-body">
					<div class="card-title">Umumy maglumat</div>
					<div class="card-category">Şahsy düzüminiň saglyk maglumaty</div>
					<div class="d-flex flex-wrap justify-content-around pb-2 pt-4 hassa_hasabat_circles">
						
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card full-height">
				<div class="card-body">
					<div class="card-title">Saglyk öýde ýatyrylanlar</div>
					<div class="row me_loc_clinic_list">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		{% for item in data %}
		<div
			class="col-lg-3 col-md-6 col-sm-6 person_card"
			url="{{ url_for('views.manage_person', id=item.id) }}"
		>
			<div class="card">
				<div class="card-body">
					<div class="user-profile row">
						<div class="col text-center">
							<div class="avatar avatar-sm">
								<span class="avatar-title rounded-circle border border-white"
									>{{item.name[0].upper() if item.name else
									'.'}}{{item.surname[0].upper() if item.surname else
									'.'}}</span
								>
							</div>
							<div class="name">{{ item.name }} {{ item.surname }}</div>
							<div class="job">
								<img
									src="../static/medicons/chevron.svg"
									style="max-height: 1.5rem"
								/>
								<span>{{ item.m_level }}</span>
							</div>
							<p class="text-muted" style="text-align: left">
								{{ item.birth_date }}<br />
								{{ item.home_address }}<br />
								{{ item.ehw_name }} <br />
								<b>Bilimi:</b> {{ item.knowledge_level if item.knowledge_level
								else '--' }} <br />
								<b>G çenli</b>: {{ item.last_job if item.last_job else '--' }}
								<br />
								<b>Çagyrylan</b>: {{ item.m_call_year if item.m_call_year else
								'--' }}
								<br />
								<b>Sport</b>: {{ item.sport_level if item.sport_level else '--'
								}}
							</p>
						</div>

						<div class="col">
							<div class="d-flex">
								<img
									src="../static/medicons/height.svg"
									style="max-height: 1.5rem"
								/>
								<span>{{ item.Physical.height }}</span>
							</div>
							<div class="d-flex">
								<img
									src="../static/medicons/weight.svg"
									style="max-height: 1.5rem"
								/>
								<span>{{ item.Physical.weight }}</span>
							</div>

							<div class="d-flex">
								<img
									src="../static/medicons/drop_of_blood.svg"
									style="max-height: 1.5rem"
								/>
								<span>{{ item.Medical.blood_category }}</span>
							</div>
							<div class="d-flex">
								<img
									src="../static/medicons/pulse.svg"
									style="max-height: 1.5rem"
								/>
								<span>{{ item.Medical.blood_pressure }}</span>
							</div>

							<div class="d-flex">
								<img
									src="../static/medicons/listen.svg"
									style="max-height: 1.5rem"
								/>
								<span>{{ item.Medical.hearing }}</span>
							</div>
							<div class="d-flex">
								<img
									src="../static/medicons/eye.svg"
									style="max-height: 1.5rem"
								/>
								<span>{{ item.Medical.vision }}</span>
							</div>
							<div class="d-flex">
								<img
									src="../static/medicons/glasses.svg"
									style="max-height: 1.5rem"
								/>
								<span
									>{{ 'Ýok' if not item.Medical.withGlass else 'Bar' }}
								</span>
							</div>
							<div class="d-flex">
								<img
									src="../static/medicons/pulse.svg"
									style="max-height: 1.5rem"
								/>
								<span>{{ item.Medical.pulse }}'</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</section>

<a href="{{ url_for('views.manage_person') }}" class="floating-add-cross"><i class="bx bx-edit"></i></a>
<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
{% endblock %} {% block scripts %}

<script src="{{url_for('static', filename='hassa_hasabat.js')}}"></script>
{% endblock %}
