{% extends 'layout.html' %} {% block content %}
<section>
	<div class="row">
		<div class="col-md-4">
			<div class="card">
				<div class="card-body">
					<div class="user-profile row">
						<div class="col text-center">
							<div class="avatar avatar-sm">
								<span class="avatar-title rounded-circle border border-white"
									>{{data.name[0].upper()}}{{data.surname[0].upper()}}</span
								>
							</div>
							<div class="name">{{ data.name }} {{ data.surname }}</div>
							<div class="job d-flex">
								<img
									src="../static/medicons/chevron.svg"
									style="max-height: 1.5rem"
								/>
								<span>{{ data.m_level }}</span>
							</div>
						</div>
						<div class="col">
							<div class="d-flex">
								<img
									src="../static/medicons/height.svg"
									style="max-height: 1.5rem"
								/>
								<span>{{ data.Physical.height }}</span>
							</div>
							<div class="d-flex">
								<img
									src="../static/medicons/weight.svg"
									style="max-height: 1.5rem"
								/>
								<span>{{ data.Physical.weight }}</span>
							</div>

							<div class="d-flex">
								<img
									src="../static/medicons/drop_of_blood.svg"
									style="max-height: 1.5rem"
								/>
								<span>{{ data.Medical.blood_category }}</span>
							</div>
							<div class="d-flex">
								<img
									src="../static/medicons/pulse.svg"
									style="max-height: 1.5rem"
								/>
								<span>{{ data.Medical.blood_pressure }}</span>
							</div>

							<div class="d-flex">
								<img
									src="../static/medicons/listen.svg"
									style="max-height: 1.5rem"
								/>
								<span>{{ data.Medical.hearing }}</span>
							</div>
							<div class="d-flex">
								<img
									src="../static/medicons/eye.svg"
									style="max-height: 1.5rem"
								/>
								<span>{{ data.Medical.vision }}</span>
							</div>
							<div class="d-flex">
								<img
									src="../static/medicons/glasses.svg"
									style="max-height: 1.5rem"
								/>
								<span
									>{{ 'Ýok' if not data.Medical.withGlass else 'Bar' }}
								</span>
							</div>
							<div class="d-flex">
								<img
									src="../static/medicons/pulse.svg"
									style="max-height: 1.5rem"
								/>
								<span>{{ data.Medical.pulse }}'</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %} {% block scripts %}
<script>
	$(document).ready(function () {
		// Add Row
		//$("#add-row").DataTable({
		//	pageLength: 5,
		//});

		var action =
			'<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg edit_btn"  owner_id="> <i class="icofont-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger remove_btn" owner_id=> <i class="icofont-bin"></i> </button> </div> </td>';

		$("#addRowButton").click(function () {
			$(".table_data").prepend(
				construct_table_row({
					name: $("#addName").val(),
					position: $("#addPosition").val(),
					office: $("#addOffice").val(),
				})
			);
			$("#addRowModal").modal("hide");
		});
	});

	$("body").delegate(".remove_btn", "click", function (e) {
		$(`.item_row[owner_id="${$(this).attr("owner_id")}"]`).remove();
	});

	const construct_table_row = (data) => `<tr class="item_row" owner_id="item_1">
		<td class="text-center">${data.name}</td>
		<td class="text-center">${data.position}</td>
		<td class="text-center">${data.office}</td>
		<td class="text-center">
			<div class="form-button-action">
				<button
					type="button"
					data-toggle="tooltip"
					title=""
					class="btn btn-link btn-primary btn-lg edit_btn"
					owner_id="item_1"
				>
					<i class="icofont-edit"></i>
				</button>
				<button
					type="button"
					data-toggle="tooltip"
					title=""
					class="btn btn-link btn-danger remove_btn"
					owner_id="item_1"
				>
					<i class="icofont-bin"></i>
				</button>
			</div>
		</td>
	</tr>`;
</script>
{% endblock %}
