<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta content="width=device-width, initial-scale=1.0" name="viewport" />

		<title>.SAGMEN</title>
		<meta content="" name="descriptison" />
		<meta content="" name="keywords" />

		<!-- Favicons -->
		<link href="../static/assets/img/favicon.png" rel="icon" />
		<link
			href="../static/assets/img/apple-touch-icon.png"
			rel="apple-touch-icon"
		/>

		<!-- Google Fonts -->
		<!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet"> -->

		<!-- Vendor CSS Files -->
		<link
			href="../static/assets/vendor/bootstrap/css/bootstrap.min.css"
			rel="stylesheet"
		/>
		<link
			href="../static/assets/vendor/icofont/icofont.min.css"
			rel="stylesheet"
		/>
		<link
			href="../static/assets/vendor/boxicons/css/boxicons.min.css"
			rel="stylesheet"
		/>
		<link href="../static/assets/vendor/venobox/venobox.css" rel="stylesheet" />
		<link
			href="../static/assets/vendor/animate.css/animate.min.css"
			rel="stylesheet"
		/>
		<link
			href="../static/assets/vendor/remixicon/remixicon.css"
			rel="stylesheet"
		/>
		<link
			href="../static/assets/vendor/owl.carousel/assets/owl.carousel.min.css"
			rel="stylesheet"
		/>
		<link
			href="../static/assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker.min.css"
			rel="stylesheet"
		/>

		<!-- Template Main CSS File -->
		<link href="../static/assets/css/style.css" rel="stylesheet" />

		<link
			rel="stylesheet"
			href="../static/atlantis/assets/css/bootstrap.min.css"
		/>
		<link
			rel="stylesheet"
			href="../static/atlantis/assets/css/atlantis.min.css"
		/>
		<!-- Fonts and icons -->
		<!-- <script src="../static/atlantis/assets/js/plugin/webfont/webfont.min.js"></script>
	<script>
		WebFont.load({
			google: {"families":["Lato:300,400,700,900"]},
			custom: {"families":["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['../../assets/css/fonts.min.css']},
			active: function() {
				sessionStorage.fonts = true;
			}
		});
	</script> -->
	</head>

	<body>
		<div class="container">
			<!-- ======= Top Bar ======= -->
			<div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
				<div class="container d-flex">
					<div class="contact-info mr-auto">
						<i class="icofont-envelope"></i>
						<a href="mailto:extramikeme@gmail.com">extramikeme@gmail.com</a>
						<i class="icofont-phone"></i> +1 5589 55488 55
						<i class="icofont-google-map"></i> Türkmenbaşy, Jaňga.
					</div>
					<!-- <div class="social-links">
        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="#" class="skype"><i class="icofont-skype"></i></a>
        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
      </div> -->
				</div>
			</div>

			<!-- ======= Header ======= -->
			<header id="header" class="fixed-top">
				<div class="container d-flex align-items-center">
					<h1 class="logo mr-auto"><a href="main.html">.SAGMEN</a></h1>
					<!-- Uncomment below if you prefer to use an image logo -->
					<!-- <a href="main.html" class="logo mr-auto"><img src="../static/assets/img/logo.png" alt="" class="img-fluid"></a>-->

					<nav class="nav-menu d-none d-lg-block">
						<ul>
							<li class="active"><a href="main.html">Esasy</a></li>
							<!-- <li><a href="#about">Biz barada</a></li> -->
							<!-- <li><a href="#services">Hyzmatlar</a></li> -->
							<li><a href="#departments">Ugurlar</a></li>
							<li><a href="#gallery">Suratlar</a></li>
							<!-- <li><a href="#doctors">Lukmanlar</a></li> -->
							<!-- <li><a href="#contact">Kontakt</a></li> -->
						</ul>
					</nav>
					<!-- .nav-menu -->

					<a href="#appointment" class="appointment-btn scrollto"
						>Barlaga ýazyl</a
					>
				</div>
			</header>
			<!-- End Header -->

			<main id="main">
				<section>
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<div class="d-flex align-items-center">
										<h4 class="card-title">Add Row</h4>
										<button
											class="btn btn-primary btn-round ml-auto"
											data-toggle="modal"
											data-target="#addRowModal"
										>
											<i class="icofont-plus"></i>
											Add Row
										</button>
									</div>
								</div>
								<div class="card-body">
									<!-- Modal -->
									<div
										class="modal fade"
										id="addRowModal"
										tabindex="-1"
										role="dialog"
										aria-hidden="true"
									>
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header no-bd">
													<h5 class="modal-title">
														<span class="fw-mediumbold"> New</span>
														<span class="fw-light"> Row </span>
													</h5>
													<button
														type="button"
														class="close"
														data-dismiss="modal"
														aria-label="Close"
													>
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">
													<p class="small">
														Create a new row using this form, make sure you fill
														them all
													</p>
													<form>
														<div class="row">
															<div class="col-sm-12">
																<div class="form-group form-group-default">
																	<label>Name</label>
																	<input
																		id="addName"
																		type="text"
																		class="form-control"
																		placeholder="fill name"
																	/>
																</div>
															</div>
															<div class="col-md-6 pr-0">
																<div class="form-group form-group-default">
																	<label>Position</label>
																	<input
																		id="addPosition"
																		type="text"
																		class="form-control"
																		placeholder="fill position"
																	/>
																</div>
															</div>
															<div class="col-md-6">
																<div class="form-group form-group-default">
																	<label>Office</label>
																	<input
																		id="addOffice"
																		type="text"
																		class="form-control"
																		placeholder="fill office"
																	/>
																</div>
															</div>
														</div>
													</form>
												</div>
												<div class="modal-footer no-bd">
													<button
														type="button"
														id="addRowButton"
														class="btn btn-primary"
													>
														Add
													</button>
													<button
														type="button"
														class="btn btn-danger"
														data-dismiss="modal"
													>
														Close
													</button>
												</div>
											</div>
										</div>
									</div>

									<div class="table-responsive">
										<table
											id="add-row"
											class="display table table-striped table-hover"
										>
											<thead>
												<tr>
													<th class="text-center">Name</th>
													<th class="text-center">Position</th>
													<th class="text-center">Office</th>
													<th class="text-center" style="width: 5%">Action</th>
												</tr>
											</thead>
											<tfoot>
												<tr>
													<th class="text-center">Name</th>
													<th class="text-center">Position</th>
													<th class="text-center">Office</th>
													<th class="text-center">Action</th>
												</tr>
											</tfoot>
											<tbody class="table_data">
												<tr class="item_row" owner_id="item_1">
													<td class="text-center">Tiger Nixon</td>
													<td class="text-center">System Architect</td>
													<td class="text-center">Edinburgh</td>
													<td class="text-center">
														<div class="form-button-action">
															<button
																type="button"
																data-toggle="tooltip"
																title=""
																class="btn btn-link btn-primary btn-lg edit_btn"
																owner_id="item_1"
															>
																<i class="icofont-edit"></i>
															</button>
															<button
																type="button"
																data-toggle="tooltip"
																title=""
																class="btn btn-link btn-danger remove_btn"
																owner_id="item_1"
															>
																<i class="icofont-bin"></i>
															</button>
														</div>
													</td>
												</tr>
												<tr class="item_row" owner_id="item_2">
													<td class="text-center">Garrett Winters</td>
													<td class="text-center">Accountant</td>
													<td class="text-center">Tokyo</td>
													<td class="text-center">
														<div class="form-button-action">
															<button
																type="button"
																data-toggle="tooltip"
																title=""
																class="btn btn-link btn-primary btn-lg edit_btn"
																owner_id="item_2"
															>
																<i class="icofont-edit"></i>
															</button>
															<button
																type="button"
																data-toggle="tooltip"
																title=""
																class="btn btn-link btn-danger remove_btn"
																owner_id="item_2"
															>
																<i class="icofont-bin"></i>
															</button>
														</div>
													</td>
												</tr>
												<tr class="item_row" owner_id="item_3">
													<td class="text-center">Ashton Cox</td>
													<td class="text-center">Junior Technical Author</td>
													<td class="text-center">San Francisco</td>
													<td class="text-center">
														<div class="form-button-action">
															<button
																type="button"
																data-toggle="tooltip"
																title=""
																class="btn btn-link btn-primary btn-lg edit_btn"
																owner_id="item_3"
															>
																<i class="icofont-edit"></i>
															</button>
															<button
																type="button"
																data-toggle="tooltip"
																title=""
																class="btn btn-link btn-danger remove_btn"
																owner_id="item_3"
															>
																<i class="icofont-bin"></i>
															</button>
														</div>
													</td>
												</tr>
												<tr class="item_row" owner_id="item_4">
													<td class="text-center">Cedric Kelly</td>
													<td class="text-center">
														Senior Javascript Developer
													</td>
													<td class="text-center">Edinburgh</td>
													<td class="text-center">
														<div class="form-button-action">
															<button
																type="button"
																data-toggle="tooltip"
																title=""
																class="btn btn-link btn-primary btn-lg edit_btn"
																owner_id="item_4"
															>
																<i class="icofont-edit"></i>
															</button>
															<button
																type="button"
																data-toggle="tooltip"
																title=""
																class="btn btn-link btn-danger remove_btn"
																owner_id="item_4"
															>
																<i class="icofont-bin"></i>
															</button>
														</div>
													</td>
												</tr>
												<tr class="item_row" owner_id="item_5">
													<td class="text-center">Airi Satou</td>
													<td class="text-center">Accountant</td>
													<td class="text-center">Tokyo</td>
													<td class="text-center">
														<div class="form-button-action">
															<button
																type="button"
																data-toggle="tooltip"
																title=""
																class="btn btn-link btn-primary btn-lg edit_btn"
																owner_id="item_5"
															>
																<i class="icofont-edit"></i>
															</button>
															<button
																type="button"
																data-toggle="tooltip"
																title=""
																class="btn btn-link btn-danger remove_btn"
																owner_id="item_5"
															>
																<i class="icofont-bin"></i>
															</button>
														</div>
													</td>
												</tr>
												<tr class="item_row" owner_id="item_6">
													<td class="text-center">Brielle Williamson</td>
													<td class="text-center">Integration Specialist</td>
													<td class="text-center">New York</td>
													<td class="text-center">
														<div class="form-button-action">
															<button
																type="button"
																data-toggle="tooltip"
																title=""
																class="btn btn-link btn-primary btn-lg edit_btn"
																owner_id="item_6"
															>
																<i class="icofont-edit"></i>
															</button>
															<button
																type="button"
																data-toggle="tooltip"
																title=""
																class="btn btn-link btn-danger remove_btn"
																owner_id="item_6"
															>
																<i class="icofont-bin"></i>
															</button>
														</div>
													</td>
												</tr>
												<tr class="item_row" owner_id="item_7">
													<td class="text-center">Herrod Chandler</td>
													<td class="text-center">Sales Assistant</td>
													<td class="text-center">San Francisco</td>
													<td class="text-center">
														<div class="form-button-action">
															<button
																type="button"
																data-toggle="tooltip"
																title=""
																class="btn btn-link btn-primary btn-lg edit_btn"
																owner_id="item_7"
															>
																<i class="icofont-edit"></i>
															</button>
															<button
																type="button"
																data-toggle="tooltip"
																title=""
																class="btn btn-link btn-danger remove_btn"
																owner_id="item_7"
															>
																<i class="icofont-bin"></i>
															</button>
														</div>
													</td>
												</tr>
												<tr class="item_row" owner_id="item_8">
													<td class="text-center">Rhona Davidson</td>
													<td class="text-center">Integration Specialist</td>
													<td class="text-center">Tokyo</td>
													<td class="text-center">
														<div class="form-button-action">
															<button
																type="button"
																data-toggle="tooltip"
																title=""
																class="btn btn-link btn-primary btn-lg edit_btn"
																owner_id="item_8"
															>
																<i class="icofont-edit"></i>
															</button>
															<button
																type="button"
																data-toggle="tooltip"
																title=""
																class="btn btn-link btn-danger remove_btn"
																owner_id="item_8"
															>
																<i class="icofont-bin"></i>
															</button>
														</div>
													</td>
												</tr>
												<tr class="item_row" owner_id="item_9">
													<td class="text-center">Colleen Hurst</td>
													<td class="text-center">Javascript Developer</td>
													<td class="text-center">San Francisco</td>
													<td class="text-center">
														<div class="form-button-action">
															<button
																type="button"
																data-toggle="tooltip"
																title=""
																class="btn btn-link btn-primary btn-lg edit_btn"
																owner_id="item_9"
															>
																<i class="icofont-edit"></i>
															</button>
															<button
																type="button"
																data-toggle="tooltip"
																title=""
																class="btn btn-link btn-danger remove_btn"
																owner_id="item_9"
															>
																<i class="icofont-bin"></i>
															</button>
														</div>
													</td>
												</tr>
												<tr class="item_row" owner_id="item_10">
													<td class="text-center">Sonya Frost</td>
													<td class="text-center">Software Engineer</td>
													<td class="text-center">Edinburgh</td>
													<td class="text-center">
														<div class="form-button-action">
															<button
																type="button"
																data-toggle="tooltip"
																title=""
																class="btn btn-link btn-primary btn-lg edit_btn"
																owner_id="item_10"
															>
																<i class="icofont-edit"></i>
															</button>
															<button
																type="button"
																data-toggle="tooltip"
																title=""
																class="btn btn-link btn-danger remove_btn"
																owner_id="item_10"
															>
																<i class="icofont-bin"></i>
															</button>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</main>
			<!-- End #main -->

			<!-- ======= Footer ======= -->
			<footer id="footer">
				<div class="footer-top">
					<div class="container">
						<div class="row">
							<div class="col-lg-3 col-md-6 footer-contact">
								<h3>.SAGMEN</h3>
								<p>
									Türkmenbaşy, Jaňga<br />
									Turkmenistan <br /><br />
									<strong>Telefon:</strong> +1 5589 55488 55<br />
									<strong>E-poçta:</strong> extramikeme@gmail.com<br />
								</p>
							</div>

							<div class="col-lg-2 col-md-6 footer-links">
								<h4>Useful Links</h4>
								<ul>
									<li>
										<i class="bx bx-chevron-right"></i> <a href="#">Home</a>
									</li>
									<li>
										<i class="bx bx-chevron-right"></i> <a href="#">About us</a>
									</li>
									<li>
										<i class="bx bx-chevron-right"></i> <a href="#">Services</a>
									</li>
									<li>
										<i class="bx bx-chevron-right"></i>
										<a href="#">Terms of service</a>
									</li>
									<li>
										<i class="bx bx-chevron-right"></i>
										<a href="#">Privacy policy</a>
									</li>
								</ul>
							</div>

							<div class="col-lg-3 col-md-6 footer-links">
								<h4>Our Services</h4>
								<ul>
									<li>
										<i class="bx bx-chevron-right"></i>
										<a href="#">Web Design</a>
									</li>
									<li>
										<i class="bx bx-chevron-right"></i>
										<a href="#">Web Development</a>
									</li>
									<li>
										<i class="bx bx-chevron-right"></i>
										<a href="#">Product Management</a>
									</li>
									<li>
										<i class="bx bx-chevron-right"></i>
										<a href="#">Marketing</a>
									</li>
									<li>
										<i class="bx bx-chevron-right"></i>
										<a href="#">Graphic Design</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="container d-md-flex py-4">
					<div class="mr-md-auto text-center text-md-left">
						<div class="copyright">
							Ulgam <strong><span>.SAGMEN</span></strong>
						</div>
					</div>
					<!-- <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div> -->
				</div>
			</footer>
			<!-- End Footer -->

			<div id="preloader"></div>
			<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

			<!-- Vendor JS Files -->
			<script src="../static/assets/vendor/jquery/jquery.min.js"></script>
			<script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
			<script src="../static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
			<script src="../static/assets/vendor/php-email-form/validate.js"></script>
			<script src="../static/assets/vendor/venobox/venobox.min.js"></script>
			<script src="../static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
			<script src="../static/assets/vendor/counterup/counterup.min.js"></script>
			<script src="../static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
			<script src="../static/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

			<!-- Template Main JS File -->
			<script src="../static/assets/js/main.js"></script>

			<!-- <script src="../static/atlantis/assets/js/core/jquery.3.2.1.min.js"></script>
  <script src="../static/atlantis/assets/js/core/popper.min.js"></script>
  <script src="../static/atlantis/assets/js/core/bootstrap.min.js"></script> -->

			<script src="../static/atlantis/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
			<script src="../static/atlantis/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

			<script src="../static/atlantis/assets/js/plugin/datatables/datatables.min.js"></script>
			<!-- Atlantis JS -->
			<script src="../static/atlantis/assets/js/atlantis.min.js"></script>
			<script>
				$(document).ready(function () {
					// Add Row
					//$("#add-row").DataTable({
					//	pageLength: 5,
					//});

					var action =
						'<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg edit_btn"  owner_id="> <i class="icofont-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger remove_btn" owner_id=> <i class="icofont-bin"></i> </button> </div> </td>';

					$("#addRowButton").click(function () {
						$(".table_data").prepend(
							construct_table_row({
								name: $("#addName").val(),
								position: $("#addPosition").val(),
								office: $("#addOffice").val(),
							})
						);
						$("#addRowModal").modal("hide");
					});
				});

				$("body").delegate(".remove_btn", "click", function (e) {
					$(`.item_row[owner_id="${$(this).attr("owner_id")}"]`).remove();
				});

				const construct_table_row = (
					data
				) => `<tr class="item_row" owner_id="item_1">
					<td class="text-center">${data.name}</td>
					<td class="text-center">${data.position}</td>
					<td class="text-center">${data.office}</td>
					<td class="text-center">
						<div class="form-button-action">
							<button
								type="button"
								data-toggle="tooltip"
								title=""
								class="btn btn-link btn-primary btn-lg edit_btn"
								owner_id="item_1"
							>
								<i class="icofont-edit"></i>
							</button>
							<button
								type="button"
								data-toggle="tooltip"
								title=""
								class="btn btn-link btn-danger remove_btn"
								owner_id="item_1"
							>
								<i class="icofont-bin"></i>
							</button>
						</div>
					</td>
				</tr>`;
			</script>
		</div>
	</body>
</html>
